body {
    font: 14px;
    color: #333333;
    min-width: 1226px;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}

a {
    color: #757575;
}

a:hover {
    color: #ff6700;
}

.site-mini-header {
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px;
}

.site-mini-header .header-logo {
    width: 93px;
    margin-top: 26px;
    float: left;
}

.site-mini-header .header-logo .logo {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: #ff6700;
}

.site-mini-header .header-logo .logo:after, .site-mini-header .header-logo .logo:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 48px;
    height: 48px;
    content: "";
    transform-origin: 50% 50%;
    transition: all .2s;
}

.site-mini-header .header-logo .logo:before {
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    opacity: 1;
    transform: translateZ(0);
}

.site-mini-header .header-logo .logo:after {
    background: url(../images/mi-home.png) no-repeat 50% 50%;
    opacity: 0;
    margin-left: -55px;
    transform: translateZ(0);
}

.site-mini-header .header-logo .logo:hover:before {
    opacity: 0;
    transform: translate3d(55px,0,0);
}

.site-mini-header .header-logo .logo:hover:after {
    opacity: 1;
    transform: translate3d(55px,0,0);
}

.site-mini-header .has-more {
    height: 48px;
}

.site-mini-header .header-title {
    float: left;
    margin-top: 26px;
}

.site-mini-header .header-title h2 {
    font-size: 28px;
    line-height: 48px;
    font-weight: 400;
    color: #424242;
}

.site-mini-header .has-more h2 {
    float: left;
    line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
}

.site-mini-header .has-more p {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 15px;
    color: #757575;
}

.site-mini-header .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}

.site-topbar .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
}

.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center;
}

.site-topbar .topbar-info .sep {
    margin: 0;
}



.page-main {
    padding: 38px 0;
    background: #f5f5f5;
}


.cart-container .container-main .cart-wrap .addonitems-tips {
    text-align: right;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    line-height: 20px;
    margin-bottom: 13px;
}

.cart-container .container-main .cart-wrap .addonitems-tips div {
    display: inline-block;
}

.page-main .addonitems-tips span {
    color: #ff6700;
    margin-left: 2px;
}

.cart-container .container-main .cart-wrap .addonitems-tips a {
    margin-left: 12px;
    color: rgba(0,0,0,.87);
}

.cart-container .container-main .cart-wrap .cart-goods-list {
    background-color: #fff;
}

.cart-container .container-main .cart-wrap .cart-goods-list .list-head {
    height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
}

.cart-container .container-main .cart-wrap .cart-goods-list .list-head .col {
    float: left;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-check {
    width: 110px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .list-head .col-img{
    width: 120px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .list-head .col-name {
    width: 380px;
    margin: 0;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-price {
    width: 140px;
    padding-right: 18px;
    text-align: center;
    color: #424242;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num {
    width: 150px;
    text-align: center;
    color: #424242;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-total {
    width: 120px;
    padding-right: 81px;
    text-align: right;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-action {
    width: 80px;
    text-align: center;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box {
    padding: 15px 26px 15px 0;
    border-top: 1px solid #e0e0e0;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

cart-container .container-main .cart-wrap .cart-goods-list .item-table .item-row {
    display: table-row;
    /* *zoom: 1; */
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-table .col {
    display: table-cell;
    vertical-align: middle;
    *float: left;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-check {
    width: 110px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-check .icon-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.cart-container .container-main .cart-wrap .cart-goods-list .list-head .icon-checkbox {
    margin-right: 15px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-check .icon-checkbox-selected {
    color: #fff;
    border-color: #ff6700;
    background-color: #ff6700;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-check .icon-checkbox:hover {
    color: #757575;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-img {
    width: 80px;
    height: 80px;
    padding-right: 40px;
    overflow: hidden;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-name{
    width: 380px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-name .name {
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-num, .cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-price, .cart-container .container-main .cart-wrap .cart-goods-list .item-sub-box .col-num, .cart-container .container-main .cart-wrap .cart-goods-list .item-sub-box .col-price {
    font-size: 16px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-price {
    width: 140px;
    padding-right: 18px;
    text-align: center;
    color: #424242;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .pre-info {
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num .change-goods-num {
    width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num .change-goods-num a {
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num .change-goods-num input {
    float: left;
    width: 72px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border-width: 0;
    color: #424242;
    font-size: 16px;
    text-align: center;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num .change-goods-num a {
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    transition: all .3s;
}

.cart-container .container-main .cart-wrap .cart-goods-list .col-num .change-goods-num a:hover {
    background-color: #e0e0e0;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-total, .cart-container .container-main .cart-wrap .cart-goods-list .item-sub-box .col-total {
    color: #ff6700;
    font-size: 16px;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-action .del, .cart-container .container-main .cart-wrap .cart-goods-list .item-sub-box .col-action .del {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    color: #757575;
    font-size: 16px;
    transition: all .3s;
}

.cart-container .container-main .cart-wrap .cart-goods-list .item-box .col-action .del:hover, .cart-container .container-main .cart-wrap .cart-goods-list .item-sub-box .col-action .del:hover {
    color: #fff;
    background-color: #e53935;
}

.cart-container .container-main .cart-bar {
    height: 50px;
    text-align: right;
    background-color: #fff;
    transition: background .3s ease,top .3s ease;
    position: relative;
}

.cart-container .container-main .cart-bar .section-left{
    float: left;
}

.cart-container .container-main .cart-bar a {
    transition: color .3s;
}

.cart-container .container-main .cart-bar .back-shopping {
    line-height: 50px;
    margin-left: 32px;
}

.cart-container .container-main .cart-bar .cart-total {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
}

.cart-container .container-main .cart-bar i {
    font-style: normal;
}

.cart-container .container-main .cart-bar .cart-total i {
    color: #ff6700;
}

.cart-container .container-main .cart-bar .total-price {
    padding-left: 13px;
    color: #ff6700;
}

.cart-container .container-main .cart-bar .total-price em {
    font-style: normal;
    font-size: 30px;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.cart-container .container-main .cart-bar .btn {
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: 50px;
    vertical-align: top;
}

.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.cart-container .container-main .raise-buy-box {
    margin: 20px 0;
}

.cart-container .container-main .empty-cart-top {
    height: 273px;
    padding-left: 558px;
    margin: 65px 0 130px;
    background: url(../images/cart-empty.png) no-repeat 124px 0;
    color: #b0b0b0;
    overflow: hidden;
}

.cart-container .container-main .empty-cart-top .login-tip {
    margin: 50px 0 0 0;
    font-size: 36px;
}

.cart-container .container-main .empty-cart-top .login-tip.is-login {
    margin: 70px 0 0 0;
}

.cart-container .container-main .empty-cart-top .login-desc {
    margin: 0;
    font-size: 20px;
    color: #b0b0b0;
}


.cart-container .container-main .empty-cart-top .btn {
    width: 170px;
    height: 48px;
    line-height: 48px;
}

.cart-container .container-main .empty-cart-top .btn {
    margin-top: 20px;
}

.cart-container .container-main .empty-cart-top .btn-login {
    margin-right: 10px;
}

.cart-container .container-main .empty-cart-top .btn-shoping-nologin {
    background-color: #f5f5f5;
    color: #ff6700;
}

.btn-primary:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
}

.cart-container .container-main .cart-recommend {
    margin: 60px 0 0;
}

.recommend-title {
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}

.recommend-title span {
    position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}

.recommend-list {
    margin: 0 0 0 -14px;
    padding: 0;
}

.recommend-item {
    float: left;
    width: 234px;
    height: 300px;
    padding: 0 20px;
    margin: 0 0 14px 14px;
    padding: 0;
    position: relative;
    overflow: hidden;
    list-style: none;
    background-color: #fff;
    text-align: center;
}

.recommend-item img {
    display: block;
    margin: 40px auto 20px;
    width: 140px;
    height: 140px;
}

.recommend-name {
    margin: 0 10px 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}

.recommend-price {
    margin-bottom: 10px;
    color: #ff6700;
}

.recommend-tips {
    position: relative;
    color: #757575;
}

.recommend-action {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,200%,0);
    transition: all .4s;
}

.recommend-item:hover .recommend-action {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.recommend-action .btn {
    width: 120px;
}

.recommend-notice {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,-10px,0);
    transition: all .2s linear;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-green {
    background: #83c44e;
    border-color: #83c44e;
    color: #fff;
}

.btn-green:hover {
    background-color: #71b639;
    border-color: #71b639;
    color: #fff;
}

.recommend-notice .btn {
    border-width: 0;
}








.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-footer .list-service a:hover {
    color: #ff6700;
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
}

.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.site-footer .footer-links .col-links a {
    color: #757575;
}

.site-footer .footer-links .col-links a:hover {
    color: #ff6700;
}

.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .footer-links .col-contact p {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.site-footer .footer-links .col-contact .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.site-footer .footer-links .col-contact .btn:hover {
    background:  #ff6700;
    color: #fff;
}

.btn-primary:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
}

.btn-gray:hover {
    background-color: #757575;
    border-color: #757575;
    color: #fff;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.btn-small em {
    font-size: 10px;
    line-height: 28px;
}

.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

.btn-line-primary:hover {
    color: #fff;
    background-color: #f25807;
    border-color: #f25807;
}

.site-footer .footer-links .col-contact .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.site-footer .footer-links .col-contact .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px;
    margin-left: 6px;
    margin-top: -3px;
}

.site-footer .footer-links .col-contact .follow a img {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.site-footer .footer-links .col-contact .follow a:hover{
    color: #ff6700;
}

.site-footer .footer-links .col-contact .follow .wx:hover img{
    display: block;
}

.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site-info .container {
    position: relative;
}


.site-info .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../images/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.site-info .info-text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}

.site-info .info-text a {
    color: #b0b0b0;
}

.site-info .info-text a:hover {
    color: #ff6700;
}

.site-info .info-text .sites a {
    color: #757575;
}

.site-info .info-text .sites a:hover {
    color: #ff6700;
}

.site-info .info-links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.site-info .info-links a {
    display: inline-block;
}

.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
}

.site-info .info-links .safe-auth {
    width: 150px;
    height: 40px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

/* .site-info .info-links .safe-auth.active .img1, .site-info .info-links .safe-auth .img2 {
    opacity: 0;
} */

.site-info .info-links .safe-auth img {
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

/* .site-info .info-links .safe-auth .img1 {
    opacity: 1;
} */
