html,body{
    height: 100%;
    font-size: 14px;
    width: 100%;
    color: #333333;
}


/* 版心 */
.container {
    width: 1226px;
    margin: 0 auto;
}

.xm-product-box .nav-bar .left a.cur, .xm-product-box .nav-bar .left a:hover, .xm-product-box .nav-bar .right a.cur, .xm-product-box .nav-bar .right a:hover {
    color: #ff6700;
}

/* 小米 */
.site-topbar {
    position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333333;
}

/* 小米导航 */
.site-topbar .topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}

.site-topbar .sep {
    margin: 0.3em;
    color: #424242;
}

.site-topbar  a {
    display: inline-block;
    line-height: 40px;
    color: #b0b0b0;
}

.site-topbar a:hover {
    color: #ffffff;
}

/* 购物车 */
.site-topbar .topbar-cart {
    width: 120px;
    height: 40px;
    float: right;
    position: relative;
    font-size: 12px;
    margin-left: 15px;
}

.site-topbar .topbar-cart .cart-mini:hover {
    color: #ff6700;
    background: #ffffff;
}

.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}

.site-topbar .cart-mini em {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

/* 登录 */
.site-topbar .topbar-info {
    float: right;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.site-topbar .topbar-info a {
    padding: 0.5px;
    text-align: center;
}

.site-topbar .message {
    padding: 0 10px;
}

.site-topbar .topbar-info .sep {
    margin: 0;
}

/* 商城 */
.site-header {
    height: 100px;
    position: relative;
}

/* 商场logo */
.header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #ff6700;
    text-align: left;
    text-indent: -9999em;
}

.site-header .logo::before, .site-header .logo::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: "";
    transform-origin: 50% 50%;
    transition: all .2s;
    transform: translateZ(0);
}

.site-header .logo::before {
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    opacity: 1;
}

.site-header .logo::after {
    background: url(../images/mi-home.png)no-repeat 50% 50%;
    opacity: 0;
    margin-left: -55px;
}

.site-header .logo:hover::before, .site-header .logo:hover::after {
    transform: translate3d(55px,0,0);
}

.site-header .logo:hover::before {
    opacity: 0;
}

.site-header .logo:hover::after {
    opacity: 1;
}

/* 商城导航 */
.header-nav {
    float: left;
    width: 850px;
}

.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
    /* visibility: hidden; */
}

.site-header .nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}

.site-category {
    display: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

.site-category-list {
    height: 418px;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    border: 1px solid #ff6700;
    color: #424242;
    background: #fff;
    display: none;
}

.site-category-list.site-category-list-custom {
    height: 420px;
    border: 0;
    color: #fff;
    background: rgba(105,101,101,.6);
}

.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #424242;
}

.site-category-list.site-category-list-custom .title {
    color: #fff;
}

.site-category-list .title em[class*=iconfont] {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}

.site-header .nav-item {
    float: left;
}

.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    *padding: 26px 8px 38px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}

/* 商城搜索 */
.header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}


.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}

.site-header .search-btn, .site-header .search-text {
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
}

.site-header .search-text {
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
}

.site-header .search-btn {
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    background: #ffffff;
    color: #616161;
}

.site-header .search-btn:hover {
    background: #ff6700;
    color: #fff;
}

/* 商城下弹菜单栏 */
.site-header .header-nav-menu {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
    display: none;
    height: 229px;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
}

/* .site-header .header-nav-menu.slide-down {
    height: 100px;
} */

.site-header .header-nav-menu .children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.site-header .header-nav-menu .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    padding: 0px 20px;
}

.header-nav-menu .children-list .first .figure-thumb{
    border: 0px;
}

.header-nav-menu .figure-thumb img {
    width: 160px;
    height: 110px;
}

.header-nav-menu .title {
    margin: 0;
    line-height: 20px;
    color: #333;
}

.site-header .header-nav-menu .title, .site-header .header-nav-menu .title a {
    color: #333;
}

.site-header .header-nav-menu .price {
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}

/* 顶部固定盒子 */
.xm-product-box{
    position: relative;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 5px 5px rgba(0,0,0,.07);
    width: 100%;
    z-index: 30;
    transition: all 0.5s linear;
}

.xm-product-box .nav-bar {
    position: relative;
    height: 63px;
    width: 100%;
    margin-top: 0;
    color: #616161;
}

.xm-product-box .nav-bar h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    color: #424242;
    float: left;
}

.xm-product-box .nav-bar .left{
    float: left;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 21px;
}

.xm-product-box .nav-bar .right {
    float: right;
    margin: 17px 0 0 0;
}

.xm-product-box .nav-bar .left .separator, .xm-product-box .nav-bar .right .separator {
    margin: 0 .5em;
    color: #424242;
}

.xm-product-box .nav-bar .left a, .xm-product-box .nav-bar .right a {
    color: #616161;
}

.xm-product-box .nav-bar .right .separator {
    color: #e0e0e0;
}

.product-box {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 12px;
}

.product-box .img-left{
    width: 606px;
    position: relative;
}

.product-box .img-left .swiper-container {
    width: 560px;
}

.product-box .img-left img {
    width: 560px;
    height: 560px;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    border-radius: 0;
    cursor: pointer;
}

.swiper-container{
    --swiper-navigation-color: #cccccc;/* 单独设置按钮颜色 */
    --swiper-navigation-size: 30px;/* 设置按钮大小 */
    --swiper-pagination-color: #333333;
}

.product-box .swiper-button-next,.product-box .swiper-button-prev {
    width: 41px;
    height: 69px;
}

.swiper-button-next:hover,.swiper-button-prev:hover {
    background: #333333;
    opacity: 0.4;
    color: #ffffff;
}


.product-box .product-con {
    flex: 1;
    margin-left: 20px;
}

.product-con h2 {
    font-size: 24px;
    color: #212121;
    padding-left: 2px;
    padding-bottom: 3px;
}

.product-con .sale-desc {
    color: #b0b0b0;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    line-height: 1.5;
}

.product-con .company-info{
    color: #ff6700;
    margin-top: 14px;
}

.product-con .price-info {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #ff6700;
    padding: 12px 0 10px;
}

.line {
    margin-top: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.product-con .address-box{
    margin: 20px 0;
    padding: 30px 50px;
    position: relative;
    background: #fafafa;
    border: 1px solid #e0e0e0;
}

.address-box .iconfont {
    position: absolute;
    left: 20px;
    top: 26px;
    font-size: 20px;
    color: #999;
}

.address-box .address-info, .address-box .edit {
    display: inline-block;
}

.address-box span{
    display: inline;
    margin-right: 14px;
}

.address-box .edit {
    color: #ff6700;
    margin: 0;
}

.address-box .info {
    color: #b0b0b0;
}

.address-box .info span{
    color: #ff6700;
    margin: 0;
}


.buy-option .batch-box, .buy-option .buy-box-child, .buy-option .buy-box-mode {
    margin-bottom: 30px;
    position: relative;
}

.buy-option .title {
    font-size: 18px;
}

.buy-option li {
    margin-right: 12px;
    margin-top: 10px;
    line-height: 42px;
    height: 42px;
    position: relative;
    border: 1px solid #e0e0e0;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;
    float: left;
    width: 292px;
    font-size: 16px;
    text-align: center;
}

.buy-option li:nth-child(2n) {
    margin-right: 0;
}

.buy-option li.active, .buy-option li:hover {
    z-index: 3;
    border-color: #ff6700;
}

.service-item-box{
    margin-bottom: 30px;
}

.service-item-box .title{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1;
}

.service-item-box .title a{
    color: #ff6700;
    font-size: 14px;
    float: right;
    line-height: 18px;
}

.service-item-box ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.service-item-box li {
    border: 1px solid #e0e0e0;
    margin-top: -1px;
    background: #fff;
    cursor: pointer;
    padding: 30px 0;
    position: relative;
    display: flex;
}

.service-item-box .active{
    border-color: #ff6700;
    z-index: 2;
}

.service-item-box li .icon-checkbox {
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 30px;
    float: left;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.service-item-box .active .icon-checkbox {
    color: #fff;
}

.service-item-box li .icon-checkbox em {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #b0b0b0;
    font-style: normal;
    line-height: 12px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    margin-top: -4px;
    display: inline-block;
}

.service-item-box .active .icon-checkbox em{
    border-color: #ff6700;
    background-color: #ff6700;
}

.service-item-box li img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
    float: left;
}

.service-item-box .box {
    flex: 1;
}

.service-item-box li h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.service-item-box .active .agreement-box a, .service-item-box .active h3 {
    color: #ff6700;
}

.service-item-box li h3 em{
    font-style: normal;
    font-size: 14px;
    background: #ff6700;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 20px;
    color: #fff;
    margin-left: 2px;
}

.service-item-box li .desc {
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 18px;
    color: #b0b0b0;
    width: 286px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.service-item-box li .agreement-box {
    margin-top: 5px;
}

.service-item-box li .agreement-box .icon-checkbox {
    float: none;
    margin: 0;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 2px;
    display: inline-block;
}

.service-item-box li .agreement-box .icon-checkbox em {
    margin-top: 0;
    vertical-align: inherit;
    border-radius: 2px;
}

.service-item-box li .agreement-box a {
    color: #ff6700;
    margin: 0 2px;
    display: inline-block;
}

.service-item-box li .agreement-box a span {
    margin: 0 2px;
    display: inline-block;
}

.service-item-box li .price {
    position: absolute;
    right: 20px;
    bottom: 28px;
    color: #757575;
}

.selected-list {
    background: #f9f9fa;
    padding: 30px;
    margin-bottom: 30px;
}

.selected-list ul li {
    list-style: none;
    line-height: 30px;
    color: #616161;
}

.selected-list ul li del, .selected-list ul li span {
    float: right;
}

.selected-list .total-price {
    color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
}

.btn-box {
    margin: 10px 0 20px 0;
}

.sale-btn{
    display: inline-block;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    transition: all .4s;
}

.sale-btn .btn {
    width: 298px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
}

.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.favorite-btn {
    display: inline-block;
    vertical-align: top;
}

.btn-like {
    display: block;
    width: 140px;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
    font-size: 16px;
    position: relative;
}

.btn-gray {
    background: #b0b0b0;
    border-color: #b0b0b0;
    color: #fff;
}

.btn-like i {
    font-size: 22px;
    line-height: 23px;
    vertical-align: -4px;
    margin-right: 5px;
}

.after-sale-info span {
    display: inline-block;
}

.after-sale-info a {
    display: inline-block;
    margin-right: 15px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: default;
    white-space: nowrap;
    color: #b0b0b0;
}

.after-sale-info a i{
    font-size: 20px;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}

.after-sale-info a em {
    font-style: normal;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}


.detail-box {
    padding-bottom: 50px;
    background: #f5f5f5;
}

.detail-box .title h3{
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 0;
}

.detail-box .img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.detail-box .img-box img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%,0,0);
    height: 100%;
}






.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-footer .list-service a:hover {
    color: #ff6700;
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
}

.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.site-footer .footer-links .col-links a {
    color: #757575;
}

.site-footer .footer-links .col-links a:hover {
    color: #ff6700;
}

.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .footer-links .col-contact p {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.site-footer .footer-links .col-contact .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.site-footer .footer-links .col-contact .btn:hover {
    background:  #ff6700;
    color: #fff;
}

.btn-primary:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
}

.btn-gray:hover {
    background-color: #757575;
    border-color: #757575;
    color: #fff;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.btn-small em {
    font-size: 10px;
    line-height: 28px;
}

.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

.site-footer .footer-links .col-contact .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.site-footer .footer-links .col-contact .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px;
    margin-left: 6px;
    margin-top: -3px;
}

.site-footer .footer-links .col-contact .follow a img {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.site-footer .footer-links .col-contact .follow a:hover{
    color: #ff6700;
}

.site-footer .footer-links .col-contact .follow .wx:hover img{
    display: block;
}

.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site-info .container {
    position: relative;
}


.site-info .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../images/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.site-info .info-text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}

.site-info .info-text a {
    color: #b0b0b0;
}

.site-info .info-text a:hover {
    color: #ff6700;
}

.site-info .info-text .sites a {
    color: #757575;
}

.site-info .info-text .sites a:hover {
    color: #ff6700;
}

.site-info .info-links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.site-info .info-links a {
    display: inline-block;
}

.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
}

.site-info .info-links .safe-auth {
    width: 150px;
    height: 40px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

/* .site-info .info-links .safe-auth.active .img1, .site-info .info-links .safe-auth .img2 {
    opacity: 0;
} */

.site-info .info-links .safe-auth img {
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

/* .site-info .info-links .safe-auth .img1 {
    opacity: 1;
} */



.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    height: 19px;
    background: url(../images/slogan2020.png) no-repeat center 0;
}

.index-fixed {
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 10;
}
.index-fixed .fixed-box {
    width: 82px;
    height: 90px;
    background: #fff;
    color: #757575;
    border: 1px solid #f5f5f5;
    display: block;
    text-align: center;
    margin-top: -1px;
}

.index-fixed .fixed-box:hover {
    color: #ff6700;
}

.index-fixed .fixed-box i{
    font-size: 30px;
    display: block;
    margin: 12px 0 10px;
}

.index-fixed  .item .pop-content{
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px;
    background: #fff;
    border: 1px solid #f5f5f5;
    transition: opacity .3s;
    transform: translateZ(0);
    opacity: 0;
    visibility: hidden;
}

.index-fixed .item .pop-content:after, .index-fixed .item .pop-content:before {
    content: "";
    position: absolute;
    top: 21%;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    overflow: hidden;
}

.index-fixed .item .pop-content:before {
    right: -19px;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #f5f5f5;
    z-index: 1;
}

.index-fixed .item .pop-content:after {
    right: -18px;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    z-index: 2;
}

.index-fixed  .item:hover .pop-content {
    transform: translate3d(-110%,0,0);
    opacity: 1;
    visibility: visible;
}



.index-fixed  .item .pop-content img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 6px auto;
}

.index-fixed  .item .pop-content .desc {
    display: block;
    width: 82px;
    margin: 14px auto 0;
    color: #757575;
    text-align: center;
}


.index-fixed .back-top {
    margin-top: 14px;
    border-top: 1px solid #f5f5f5;
    visibility: hidden;
    /* transition: all 1s; */
}