html,body{
    height: 100%;
    font-size: 14px;
    width: 100%;
    color: #333333;
}


/* 版心 */
.container {
    width: 1226px;
    margin: 0 auto;
}

/* 一分抽奖 */
.header #h-banner{
    height: 120px;
    width: 100%;
    position: relative;
}

.header #h-banner a {
    height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    background: url(../images/h-banner.jpg) no-repeat center;
    background-size: auto 120px;
}

/* 小米 */
.site-topbar {
    position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333333;
}

/* 小米导航 */
.site-topbar .topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}

.site-topbar .sep {
    margin: 0.3em;
    color: #424242;
}

.site-topbar  a {
    display: inline-block;
    line-height: 40px;
    color: #b0b0b0;
}

.site-topbar a:hover {
    color: #ffffff;
}

/* 购物车 */
.site-topbar .topbar-cart {
    width: 120px;
    height: 40px;
    float: right;
    position: relative;
    font-size: 12px;
    margin-left: 15px;
}

.site-topbar .topbar-cart .cart-mini:hover {
    color: #ff6700;
    background: #ffffff;
}

.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}

.site-topbar .cart-mini em {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

/* 登录 */
.site-topbar .topbar-info {
    float: right;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.site-topbar .topbar-info a {
    padding: 0.5px;
    text-align: center;
}

.site-topbar .message {
    padding: 0 10px;
}

.site-topbar .topbar-info .sep {
    margin: 0;
}

/* 商城 */
.site-header {
    height: 100px;
}

.site-header, .site-header .container {
    position: relative;
}

/* 商场logo */
.header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #ff6700;
    text-align: left;
    text-indent: -9999em;
}

.site-header .logo::before, .site-header .logo::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: "";
    transform-origin: 50% 50%;
    transition: all .2s;
    transform: translateZ(0);
}

.site-header .logo::before {
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    opacity: 1;
}

.site-header .logo::after {
    background: url(../images/mi-home.png)no-repeat 50% 50%;
    opacity: 0;
    margin-left: -55px;
}

.site-header .logo:hover::before, .site-header .logo:hover::after {
    transform: translate3d(55px,0,0);
}

.site-header .logo:hover::before {
    opacity: 0;
}

.site-header .logo:hover::after {
    opacity: 1;
}

/* 商城导航 */
.header-nav {
    float: left;
    width: 850px;
}

.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
    /* visibility: hidden; */
}

.site-category {
    display: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

.site-category-list {
    height: 418px;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    border: 1px solid #ff6700;
    color: #424242;
    background: #fff;
}

.site-category-list.site-category-list-custom {
    height: 420px;
    border: 0;
    color: #fff;
    background: rgba(105,101,101,.6);
}

.site-category-list.site-category-list-custom .category-item:hover {
    background: #ff6700;
}

.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #424242;
}

.site-category-list.site-category-list-custom .title {
    color: #fff;
}

.site-category-list .title em{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}

.site-category-list.site-category-list-custom .category-item:hover .children {
    display: block;
}

.site-category-list .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}

.site-category-list .children-col-4 {
    width: 992px;
}

.site-category-list .children-list {
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
}

.site-category-list .children-list-col {
    float: left;
    width: 265px;
}

.site-category-list .children-col-4 .children-list-col {
    width: 248px;
}

.site-category-list .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}

.site-category-list .children-list .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}

.site-category-list .children-list .thumb {
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}

.site-category-list .children-list .text {
    float: left;
    width: 172px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.site-header .nav-item {
    float: left;
}

.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    padding: 26px 8px 38px;
    color: #333;
    transition: color .2s;
}

.site-header .nav-item .item-children {
    display: none;
}

/* 商城搜索 */
.header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}

.site-header .search-btn, .site-header .search-text {
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
}

.site-header .search-text {
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
}

.site-header .search-btn {
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    background: #ffffff;
    color: #616161;
}

.site-header .search-btn:hover {
    background: #ff6700;
    color: #fff;
}

/* 商城下弹菜单栏 */
.site-header .header-nav-menu {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 24;
    width: 100%;
    height: 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
    display: none;
    height: 229px;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
}

/* .site-header .header-nav-menu.slide-down {
    height: 100px;
} */

.site-header .header-nav-menu .children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.site-header .header-nav-menu .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    padding: 0px 20px;
}

.header-nav-menu .children-list .first .figure-thumb{
    border: 0px;
}

.header-nav-menu .figure-thumb img {
    width: 160px;
    height: 110px;
}

.header-nav-menu .title {
    margin: 0;
    line-height: 20px;
    color: #333;
}

.site-header .header-nav-menu .title, .site-header .header-nav-menu .title a {
    color: #333;
}

.site-header .header-nav-menu .price {
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}

/* 主体 */
.home-hero-container {
    position: relative;
    z-index: 8;
}

.home-hero {
    position: relative;
    margin-bottom: 26px;
}

/* 轮播图 */

.home-hero-swiper {
    position: relative;
    height: 460px;
    overflow: hidden;
}

.home-hero-swiper .swiper-slide img {
    display: block;
    width: 1226px;
    height: 460px;
}

.home-hero-swiper .swiper-button-next,.home-hero-swiper .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    z-index: 10;
    cursor: pointer;
    outline: none;
}
.home-hero-swiper .swiper-button-prev,.home-hero-swiper .swiper-button-next {
    color: #cccccc;
    background-size: 15px;
}

.home-hero-swiper .swiper-button-prev {
    left: 234px;
}

.home-hero-swiper .swiper-button-next {
    right: 0;
}

.home-hero-swiper{
    /* --swiper-theme-color: #ff6600; */
    /* --swiper-navigation-color: #00ff33; */
    --swiper-navigation-size: 35px;
  }

.home-hero-swiper .swiper-button-next:hover,.home-hero-swiper .swiper-button-prev:hover {
    background: rgba(0,0,0,.18);
    color: #fff;
}

.home-hero-swiper .swiper-pagination {
    width: 400px;
    left: auto;
    right: 30px;
    bottom: 20px;
    text-align: right;
}

.home-hero-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: hsla(0,0%,100%,.3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    opacity: 1;
}

.home-hero-swiper .swiper-pagination-bullet-active, .home-hero-swiper .swiper-pagination-bullet:hover {
    background: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

/* 入口 */
.home-hero .home-hero-sub {
    margin: 14px 0 0 -14px;
}

/* 功能 */
.span4 {
    width: 234px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.span16 {
    width: 978px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.home-channel-list {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.home-channel-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    color: #fff;
    opacity: .7;
    /* -webkit-transition: opacity .2s; */
    transition: opacity .2s;
}

.home-channel-list a:hover {
    opacity: 1;
}

.home-channel-list img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

/* 广告 */
.home-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-promo-list li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
    transition: box-shadow .2s linear;
}

.home-promo-list li:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.home-promo-list li.first {
    margin-left: 0;
}

.home-promo-list img {
    display: block;
    width: 316px;
    height: 170px;
}

/* 内容 */
.home-main {
    padding-top: 4px;
    padding-bottom: 12px;
}

.page-main {
    background: #f5f5f5;
}

/* 闪购 */
.home-flashsale {
    margin-bottom: 22px;
    position: relative;
}

.xm-plain-box .box-hd {
    position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased;
}

.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

/* 闪购行 */
.row {
    margin-left: -14px;
}

.home-flashsale .rainbow-item-4 {
    border-top-color: #e53935;
}

.home-flashsale .flashsale-countdown {
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
}
/* 场次 */
.home-flashsale .flashsale-countdown .round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}

/* 闪购闪电 */
.home-flashsale .flashsale-countdown img {
    margin: 25px auto;
}

/* 距离结束还有 */
.home-flashsale .flashsale-countdown .desc {
    color: rgba(0,0,0,.54);
    font-size: 15px;
}

/* 倒计时 */
.home-flashsale .flashsale-countdown .countdown {
    width: 168px;
    margin: 28px auto 0;
}

.home-flashsale .flashsale-countdown .countdown span {
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.home-flashsale .flashsale-countdown .countdown i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}

/* 闪购轮播图 */
.home-flashsale .flashsale-list {
    float: left;
}

.home-flashsale .flashsale-list .swiper-wrapper {
    margin: 0;
    padding: 0;
    height: 340px;
}

.home-flashsale .flashsale-list .swiper-slide {
    width: 234px;
    margin-right: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fff;
    transition: all .6s;
    position: relative;
}

.home-flashsale .flashsale-list .border-top-color-1{
    border-top: 1px solid red;
}
.home-flashsale .flashsale-list .border-top-color-2{
    border-top: 1px solid orange;
}
.home-flashsale .flashsale-list .border-top-color-3{
    border-top: 1px solid green;
}
.home-flashsale .flashsale-list .border-top-color-4{
    border-top: 1px solid blue;
}

.home-flashsale .flashsale-list .swiper-slide a {
    display: block;
    height: 300px;
    padding-top: 39px;
    position: relative;
}

.home-flashsale .flashsale-list .thumb {
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}

.home-flashsale .flashsale-list .thumb img {
    width: 160px;
    height: 160px;
}

.home-flashsale .flashsale-list .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.home-flashsale .flashsale-list .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.home-flashsale .flashsale-list .price {
    margin: 0;
    color: #ff6709;
}

.home-flashsale .flashsale-list .price del {
    color: #b0b0b0;
}

.swiper-controls {
    position: absolute;
    top: 24px;
    right: 0;
    width: 70px;
    height: 25px;
}

.swiper-controls .swiper-button-next,.swiper-controls .swiper-button-prev {
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    font-weight: 900;
    outline: none;
}

.swiper-controls .swiper-button-prev {
    left: 0;
    top: 0;
}

.swiper-controls .swiper-button-next {
    top: 0;
    right: 0;
}

.swiper-controls .swiper-button-next:hover, .swiper-controls .swiper-button-prev:hover {
    color: #ff6700;
}
.swiper-controls {
    /* --swiper-theme-color: #ff6600;设置Swiper风格 */
    /* --swiper-navigation-color: #00ff33;单独设置按钮颜色 */
    --swiper-navigation-size: 12px;/* 设置按钮大小 */
}

/* 广告图 */
.home-banner-box {
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}

/* 专栏 */

/* 更多 */
.xm-plain-box .box-hd .more {
    position: absolute;
    top: 0;
    right: 0;
}

/* 查看全部 */
.xm-plain-box .box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.xm-plain-box .box-hd .more .more-link:hover {
    color: #ff6700;
}

.xm-plain-box .box-hd .more .more-link .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 14px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.xm-plain-box .box-hd .more .more-link:hover .iconfont{
    background: #ff6700;
}

.brick-list, .brick-promo-list {
    height: 614px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-brick-box .brick-list, .home-brick-box .brick-promo-list {
    margin: 0 0 -14px -14px;
}



/* 产品基本盒 */
.brick-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.brick-item-l {
    height: 614px;
}

.brick-promo-list a {
    display: block;
    width: 100%;
    height: 100%;
}

.brick-promo-list img {
    width: 234px;
}

.brick-promo-list .brick-item-l img {
    height: 614px;
}

.brick-list {
    width: 992px;
}

/* 产品基本盒动画 */
.brick-item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}

.brick-item-m {
    height: 246px;
    padding: 34px 0 20px;
}

.brick-promo-list .brick-item-m {
    height: 300px;
    padding: 0;
}

.brick-item-m-2 {
    height: 260px;
    padding: 20px 0;
}

.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}

.brick-item-m-2 .figure-img, .brick-item-m-2 .figure-img img {
    width: 160px;
    height: 160px;
}

/* 产品描述和产品标题的文本 */
.brick-item-m .desc, .brick-item-m .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 产品标题 */
.brick-item-m .title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

/* 产品标题 */
.brick-item-m-2 .title {
    margin: 0 10px 2px;
}

/* 产品描述 */
.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

/* 价格 */
.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}

/* 产品价格 */
.brick-item-m-2 .price {
    margin: 0 10px 14px;
}

/* 原价 */
.brick-item-m .price del {
    margin-left: .5em;
    color: #b0b0b0;
}

/* 更多的列表 */
.xm-plain-box .box-hd .more .tab-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.xm-plain-box .box-hd .more .tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid rgba(0,0,0,0);
    -webkit-transition: border .3s;
    transition: border .3s;
    cursor: pointer;
}

.xm-plain-box .box-hd .more .tab-list li.tab-active, .xm-plain-box .box-hd .more .tab-list li:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.home-brick-box .box-hd .more .tab-list li {
    margin: 0 0 0 30px;
}

/* 隐藏盒子 */
.hide {
    display: none!important;
}

/* 最后一个小盒子 */
.brick-item-s {
    height: 93px;
    padding-top: 50px;
}

.brick-item-s .title, .brick-item-s .title a {
    color: #333;
}

.brick-item-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}

.brick-item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}

.brick-item-s .price .num {
    font-size: 14px;
}

.brick-item-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.brick-item-s .figure-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
    color: #ff6700;
}

.brick-item-s i {
    font-size: 48px;
    line-height: 48px;
}

.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.brick-item-s .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}

.xm-plain-box .box-hd .more {
    position: absolute;
    top: 0px;
    right: 0px;
}

.xm-plain-box .box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: rgb(66, 66, 66);
    transition: all 0.4s ease 0s;
}

.home-video-box .video-list {
    width: 1240px;
    height: 285px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-video-box .video-item {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.home-video-box .video-item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}

.home-video-box .video-item:first-child {
    margin-left: 0;
}

.home-video-box .video-item .figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.home-video-box .video-item .figure-img img {
    width: 296px;
    height: 180px;
}

.home-video-box .video-item .title {
    margin: 0 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-video-box .video-item .desc {
    height: 18px;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-footer .list-service a:hover {
    color: #ff6700;
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
}

.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.site-footer .footer-links .col-links a {
    color: #757575;
}

.site-footer .footer-links .col-links a:hover {
    color: #ff6700;
}

.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .footer-links .col-contact p {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.site-footer .footer-links .col-contact .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.site-footer .footer-links .col-contact .btn:hover {
    background:  #ff6700;
    color: #fff;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.btn-small em {
    font-size: 10px;
    line-height: 28px;
}

.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

.site-footer .footer-links .col-contact .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.site-footer .footer-links .col-contact .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px;
    margin-left: 6px;
    margin-top: -3px;
}

.site-footer .footer-links .col-contact .follow a img {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.site-footer .footer-links .col-contact .follow a:hover{
    color: #ff6700;
}

.site-footer .footer-links .col-contact .follow .wx:hover img{
    display: block;
}

.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site-info .container {
    position: relative;
}


.site-info .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../images/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.site-info .info-text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}

.site-info .info-text a {
    color: #b0b0b0;
}

.site-info .info-text a:hover {
    color: #ff6700;
}

.site-info .info-text .sites a {
    color: #757575;
}

.site-info .info-text .sites a:hover {
    color: #ff6700;
}

.site-info .info-links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.site-info .info-links a {
    display: inline-block;
}

.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
}

.site-info .info-links .safe-auth {
    width: 150px;
    height: 40px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

/* .site-info .info-links .safe-auth.active .img1, .site-info .info-links .safe-auth .img2 {
    opacity: 0;
} */

.site-info .info-links .safe-auth img {
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

/* .site-info .info-links .safe-auth .img1 {
    opacity: 1;
} */



.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    height: 19px;
    background: url(../images/slogan2020.png) no-repeat center 0;
}

.index-fixed {
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 10;
}
.index-fixed .fixed-box {
    width: 82px;
    height: 90px;
    background: #fff;
    color: #757575;
    border: 1px solid #f5f5f5;
    display: block;
    text-align: center;
    margin-top: -1px;
}

.index-fixed .fixed-box:hover {
    color: #ff6700;
}

.index-fixed .fixed-box i{
    font-size: 30px;
    display: block;
    margin: 12px 0 10px;
}

.index-fixed  .item .pop-content{
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px;
    background: #fff;
    border: 1px solid #f5f5f5;
    transition: opacity .3s;
    transform: translateZ(0);
    opacity: 0;
    visibility: hidden;
}

.index-fixed .item .pop-content:after, .index-fixed .item .pop-content:before {
    content: "";
    position: absolute;
    top: 21%;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    overflow: hidden;
}

.index-fixed .item .pop-content:before {
    right: -19px;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #f5f5f5;
    z-index: 1;
}

.index-fixed .item .pop-content:after {
    right: -18px;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    z-index: 2;
}

.index-fixed  .item:hover .pop-content {
    transform: translate3d(-110%,0,0);
    opacity: 1;
    visibility: visible;
}



.index-fixed  .item .pop-content img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 6px auto;
}

.index-fixed  .item .pop-content .desc {
    display: block;
    width: 82px;
    margin: 14px auto 0;
    color: #757575;
    text-align: center;
}


.index-fixed .back-top {
    margin-top: 14px;
    border-top: 1px solid #f5f5f5;
    visibility: hidden;
    /* transition: all 1s; */
}