.header {
    margin: 0 auto;
    width: 1130px;
}

.h_logo {
   width: 200px; 
   height: 98px;
   background: url(../images/mistore_logo.png) no-repeat;
}

.h_logo a {
    display: block;
    height: 98px;
}

.wrap {
    background: url(../images/login_banner.jpg) no-repeat top center;
    width: 100%;
    height: 588px;
    padding-top: 32px;
}

.container {
    margin: 0 auto;
    width: 1130px;
}

.wrap .main {
    width: 410px;
    height: 556px;
    background: #ffffff;
    margin-left: 720px;
    /* margin-top: 32px; */
}

.nav_tabs {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.nav_tabs a {
    color: #666;
}

.nav_tabs a:hover, .nav_tabs a.now {
    color: #f56600;
}

.line {
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
}

.login_area {
    width: 348px;
    margin: 0 auto;
}

.tabs_con {
    display: none;
}

.tabs_con_now {
    display: block;
}

.tabs_con input {
    width: 306px;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    border: 1px solid #cccccc;
}

.tabs_con input[type=text],.tabs_con input[type=password] {
    margin-bottom:14px;
}

.tabs_con input[type=button] {
    height: 50px;
    margin: 24px 0 14px;
    background-color: #ff6700;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    width: 338px;
}

.tabs_con .btn-tip {
    color: red;
}

.tabs_con .tab_login {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.tabs_con .tab_login a {
    color: #ff6700;
}

.tabs_con .desc {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #999999;
}


.tabs_con .desc a {
    color: #999999;
}

.tabs_con .desc a:hover {
    color: #ff6700;
}

.other_login_type {
    padding-top: 143px;
    text-align: center;
}

.other_login_type a {
    display: inline-block;
    margin: 0 17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.other_login_type .btn_qq {
    background: #0288d1;
}

.other_login_type .btn_wb {
    background: #d32f2f;
}

.other_login_type .btn_zfb {
    background: #0ae;
}

.other_login_type .btn_wx {
    background: #00d20d;
}

.other_login_type a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 4px auto 0;
}

.other_login_type .btn_qq i {
    background: url(../images/icons_type.png) no-repeat -19px 0;
}

.other_login_type .btn_wb i {
    background: url(../images/icons_type.png) no-repeat -38px 0;
}

.other_login_type .btn_zfb i {
    background: url(../images/icons_type.png) no-repeat -57px 0;
    width: 25px;
    margin-top: 6px;
    margin-left: 4px;
}

.other_login_type .btn_wx i {
    background: url(../images/icons_type.png) no-repeat -83px 0;
    margin-top: 6px;
    width: 24px;
}

.login_pic {
    padding-top: 150px;
}

.login_pic img {
    display: block;
    margin: 0 auto;
}

.login_txt {
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
    line-height: 19px;
    color: #757575;
}

.login_txt p span {
    color: #ff6700;
    padding:  0.5px;
}


.footer {
    background: #fff;
    margin-top: 0;
    padding-top: 100px;
    height: 80px;
    text-align: center;
}

.footer .ft_nav a {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    color: #757575;
}

.footer .ft_nav .active {
    color: #333333;
}

.footer .ft_nav a:hover {
    color: #333333;
}

.ft-intro {
    padding: 10px;
    font-size: 14px;
    color: #757575;
}

.ft-intro a {
    color: #757575;
}
